<p id="notice"><%= notice %></p>


<table>

  <tbody>
    <% @pictures.reverse_each do |picture| %>
      <tr class = "waku">
        <td><%= picture.user_id %></td>
      </tr>
      <tr class = "waku">
        <td><%= image_tag picture.image, :width => '200', :height => '200' %></td>
      </tr>
      <tr>
        <td><%= picture.user_id %></td>
      </tr>
      <tr>
        <td><%= picture.content %></td>
      </tr>
      <tr>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
